<header>
  <div class="row bgImage">
    <div class="col-xs-4 col-sm-5 col-md-3 col-lg-3 leftHeader float-left">      
      <a id="menuContext" (click)="closeAside()" class="toggleClass">
        <i class="fa fa-bars"></i>
      </a>
      <span class="dropbtn">My Books App</span>      
    </div>    
    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 rightHeader">        
        <div class="row float-right">
          <div class="col-11">
              <search-form (searchText)="searchText($event)"></search-form>
          </div>
          <div class="col-1">
                <div class="userImage">
                  <i class="fa fa-user-circle fa-4" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </div>
  </div>
</header>
