<header>
  <div class="row bgImage">
    <div class="col-3 leftHeader float-left">      
      <a id="menuContext" (click)="closeAside()" class="toggleClass">
        <i class="fa fa-bars"></i>
      </a>
      <span class="dropbtn">My Books App</span>      
    </div>    
    <div class="col-8 rightHeader">        
        <div class="row float-right">
          <div class="col-11">
              <form id="searchForm">
                <div class="input-group rounded-right inputSearch">
                    <input id="inputSearch" type="text" class="form-control" name="searchText" title="Buscador" placeholder="Buscar..." />
                    <div class="input-group-append">
                        <a class="btn btn-primary"><i class="fa fa-search whiteIcon"></i></a>
                    </div>
                </div>
              </form>
          </div>
          <div class="col-1">
                <div class="userImage">
                  <i class="fa fa-user-circle fa-4" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </div>
  </div>
</header>
