a
    outline none
    text-decoration none
    &:active
        color red

.navigationBar
    margin: 15px 15px 15px 15px;
    
.shadowStyle
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);

 .imgContainer
    text-align center

.imgStyle
    width 350px 

.cardTextStyle
    text-align justify

.italic
    font-style italic

.stars
    font-size 28px
    color #b1af08
    text-align center

.buttons
    text-align center
    margin-bottom 8px

.btnSite
    background-color #684e05
    border-color #684e05
    &:hover
        background-color #d9080099
        border-color #d9080099

.shadowStyle
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);

.cardStyle
    width 225px 
    min-width 150px
    min-height 300px

.cardTextStyle
    text-align left

.imgCard
    height 180px

.recommendedTitle    
    padding-top 20px
    margin-top 10px