<section class="navigationBar">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/main/books">Home</a></li>
      <li class="breadcrumb-item"><a routerLink="/main/books">Library</a></li>      
      <li class="breadcrumb-item active" aria-current="page">Book {{book.volumeInfo.pageCount}}</li>
    </ol>
  </nav>
</section>
<section id="canvas">
  <div class="container-fluid">
    <div class="row ">
      <div class="col-6">
        <h4 class="">{{book.volumeInfo.title}}</h4>
        <h5>Autor(es):</h5>        
        <ul *ngFor="let author of book.volumeInfo.authors">
          <li class="italic">{{author}}</li>
        </ul>        
        <h5>Año:</h5>    
        <ul>
          <li class="italic">{{book.volumeInfo.publishedDate}}</li>
        </ul>            
        <h5>Descripción:</h5>        
        <p class="cardTextStyle">{{book.volumeInfo.description}}</p>                        
      </div>
      <div class="col-6 imgContainer">        
          <img class="shadowStyle imgStyle" [src]="book.volumeInfo.imageLinks.smallThumbnail" alt="Book image">        
      </div>
    </div>
  </div>
</section>