<section class="navigationBar">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/main/books">Home</a></li>
      <li class="breadcrumb-item"><a routerLink="/main/books">Library</a></li>      
      <li class="breadcrumb-item active" aria-current="page">Book {{book.volumeInfo?.pageCount}}</li>
    </ol>
  </nav>
</section>
<section id="canvas">
  <div class="container-fluid">
    <div class="row ">
      <div class="col-6">
        <h4 class="">{{book.volumeInfo?.title}}</h4>
        <h5>Autor(es):</h5>        
        <ul *ngFor="let author of book.volumeInfo?.authors">
          <li class="italic">{{author}}</li>
        </ul>        
        <h5>Año:</h5>    
        <ul>
          <li class="italic">{{book.volumeInfo?.publishedDate}}</li>
        </ul>            
        <h5>Descripción:</h5>        
        <p class="cardTextStyle">{{book.volumeInfo?.description}}</p>                        
      </div>
      <div class="col-6">   
        <div class="favorites">
            <ul class="checked-list-box list-inline">
              <li *ngFor="let collection of bookingCollection " class="list-inline-item">
                <input *ngIf="collection.selected" type="checkbox" checked (change)="toogleCollection(collection)" />
                <input *ngIf="!collection.selected" type="checkbox" (change)="toogleCollection(collection)"/>
                  {{collection.name}}
              </li>
            </ul>             
        </div>
          <div class="buttons">
              <button [hidden]="isFavorite" class="btn btn-primary btnSite" (click)="addFavorite()" title="Agregar a Favoritos">
                <i class="fa fa-heart"></i>
              </button>
              <button [hidden]="!isFavorite" class="btn btn-primary btnSite" (click)="removeFavorite(favoriteKey)" title="Remover de Favoritos">
                <i class="fa fa-times"></i>
              </button>
          </div>  
          <div class="imgContainer">
              <img class="shadowStyle imgStyle" [src]="book.volumeInfo?.imageLinks?.thumbnail" alt="Book image">        
          </div>             
          <div class="stars">
            <a *ngFor="let item of starList ">  
              <i class="fa" [ngClass]="{'fa-star-o':!item,'fa-star': item}"></i>   
            </a> 
          </div>
      </div>
    </div>
    <div class="Row">
        <div class="col-12 border-top recommendedTitle">
          <h4 class="">Libros Similares</h4>
        </div>
        <div class="card-deck">
          <div *ngFor="let recommendedBook of recommendedList?.items">
              <div class="card mb-4 shadowStyle cardStyle">
                <div class="view overlay">
                  <img class="card-img-top imgCard" [src]="recommendedBook.volumeInfo.imageLinks?.smallThumbnail" alt="Book image">            
                </div>
                <div class="card-body">
                  <h4 class="card-title">{{recommendedBook.volumeInfo?.title}}</h4>                
                </div>
              <div class="card-footer">
                  <a [routerLink]="['../', recommendedBook.id]" class="btn btn-primary btnSite">Ver Detalle</a>                         
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</section>