<aside>
  <div class="row">
      <div class="userImage">
        <i class="fa fa-user-circle bigicon" aria-hidden="true"></i>      
      </div>
      <h5 class="userName">User Name</h5>
  </div>    
    <nav>
        <ul class="list-unstyled">
            <li >
                <a href="#/">
                  <i class="fa fa-home"></i>
                  Inicio
                </a>
            </li>
            <li >
              <a href="#/list">
                <i class="fa fa-book"></i>
                Colección
              </a>
            </li>
            <li >
              <a href="#">
                  <i class="fa fa-star"></i>
                  Favoritos
              </a>
            </li>
            <li >
                <a href="#">
                  <i class="fa fa-power-off"></i>
                  Salir
                </a>
            </li>            
          </ul>      
      </nav>
</aside>