.inputSearch
	margin: 15px 15px 15px 15px;
	justify-content: center;
	box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
	border-radius: 0px 10px 10px 0px;

input[type="text"], textarea
	outline none
	box-shadow none !important
	border 1px solid #ccc !important

.whiteIcon
	color: white

.btnSite
	background-color #684e05
	border-color #684e05
	&:hover
		background-color #d9080099
		border-color #d9080099