
.socialButton
    width 200px
    margin-top 10px
    padding 0px
    background-color #684e05
    border-color #684e05
    &:hover
        background-color #d9080099
        border-color #d9080099

.inputWidth
    width 220px

.inputMessage
    width 220px
    margin-top 5px
    height 20px
    padding 0px

.rightContent
    margin-top 60px
    text-align center

.inputForm
    padding 0px
    padding-left 10px
    padding-top 10px

.inputLeftContainer        
    margin-top 20px
    margin-bottom 20px
    width 250px
    height 300px