
.socialButton
    width 200px
    margin-top 10px
    padding 0px

.inputWidth
    width 220px;

.rightContent
    margin-top 60px
    text-align center

.inputForm
    padding 0px
    padding-left 10px

.inputLeftContainer        
    margin-top 20px
    margin-bottom 20px
    width 250px
    height 300px