<div class="container-fluid">
    <div class="row ">
      <div class="col-6">
        <div class="border border-dark inputLeftContainer">
            <form (ngSubmit)="submit()" #loginForm="ngForm" class="inputForm">
              <h4>Welcome!</h4>
              <div class="form-group">                      
                <input type="email" class="form-control inputWidth" id="emailInput" placeholder="email@example.com" [(ngModel)]="login.email" name="email" #email="ngModel" required>
                <div [hidden]="email.valid || email.pristine" class="alert alert-danger inputMessage" role="alert">
                  Email Incorrecto
                </div>
              </div>
              <div class="form-group">
                <input type="password" class="form-control inputWidth" id="passwordInput" placeholder="password" [(ngModel)]="login.password" name="password" #password="ngModel" required>
                <div [hidden]="password.valid || password.pristine" class="alert alert-danger inputMessage" role="alert">
                    Password Incorrecto
                  </div>
              </div>                                  
              <div>
                <button [disabled]="!loginForm.form.valid" type="submit" class="btn btn-primary socialButton">Login</button>
              </div>              
          </form>
        </div>
      </div>
      <div class="col-6 rightContent">
          <h4>Sign in with your social network</h4>
          <button type="button" class="btn btn-primary socialButton" (click)="loginFacebook()">Login with Facebook</button>
          <button type="button" class="btn btn-primary socialButton" (click)="loginTwitter()">Login with Twitter</button>
          <button type="button" class="btn btn-primary socialButton" (click)="loginGoogle()">Login with Google+</button>
      </div>
    </div>
  </div>