<li>
  <a>
    <i class="fa fa-book col-xs-6 col-sm-6 col-md-1 col-lg-1" title="Colección"></i>
    <span class="col-xs-6 col-sm-6 col-md-1 col-lg-1">Colección</span>
  </a>
  <a class="fa fa-plus" aria-hidden="true" (click)="openModal($event, 'collection-add-modal')"></a>
  <ul class="list-unstyled nav-left">
    <div *ngFor="let collection of collectionList | async">
      <li>
        <a routerLink="/main/collections/{{collection.name}}">{{collection.name}}</a>
        <a class="fa fa-times" aria-hidden="true" title="Eliminar" (click)="removeCollection(collection)"></a>
      </li>
    </div>
  </ul>
</li>
<modal id="collection-add-modal">
    <div class="modal">
        <div class="modal-body">
            <h3 class="title">Agregar Collection</h3>
            <form (ngSubmit)="agregarCollection('collection-add-modal');" #collectionForm="ngForm" class="inputForm">
              <div class="form-row">
                <input type="text" placeholder="Nombre de la Collection" required class="form-control form-control-lg" 
                [(ngModel)]="collection.name" #collectionName="ngModel" name="collectionName"/>
                <div [hidden]="collectionName.valid || collectionName.pristine" class="alert alert-danger inputMessage" role="alert">
                  Collecction Incorrecta
                </div>
              </div>
              <div>
                
              </div>
              <button [disabled]="!collectionForm.form.valid" class="btn btn-primary btnPopup" type="submit">Agregar</button>
              <button class="btn btn-primary btnPopup" (click)="closeModal('collection-add-modal');">Cancelar</button>
            </form>
        </div>      
    </div>  
    <div class="modal-background"></div>
</modal>