modal
    display none    
    margin 0px
    
.modal 
    position fixed
    top 0
    right 0
    bottom 0
    left 0
    z-index 1200
    overflow auto
    display inline-table    
    width: 450px
    height 350px
    margin 200px auto auto auto
    text-align center

.modal-body 
    padding 20px
    background #fff
    margin 40px
    border-radius 10px 10px 10px 10px
    
.modal-background
    position fixed
    top 0
    right 0
    bottom 0
    left 0
    background-color #000
    opacity 0.75
    z-index 1100

.btnPopup
    margin 10px
    background-color #684e05
    border-color #684e05
    &:hover
        background-color #d9080099
        border-color #d9080099

.title
    background-color #e9ecef

.itemCollection
    margin-left 50px