<header>
  <div class="row">
    <div class="col-4 leftHeader float-left">
      <a id="menuContext" class="fa fa-bars" href="#"></a>
      <span class="dropbtn">My Books App</span>
    </div>    
    <div class="col-7">        
        <div class="row float-right">
          <div class="col-10">
              <form id="searchForm">
                <div class="input-group rounded-right inputSearch">
                    <input id="inputSearch" type="text" class="form-control" name="searchText" title="Buscador" placeholder="Buscar..." />
                    <div class="input-group-append">
                        <button type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
              </form>
          </div>
          <div class="col-1">
                <div class="userImage">
                  <i class="fa fa-user-circle fa-4" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </div>
  </div>
</header>
