a
    outline none
    text-decoration none
    &:active
        color red

.navigationBar
    margin: 15px 15px 15px 15px;

.shadowStyle
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);

.cardStyle
    width 295px 
    min-width 200px
    min-height 600px

.cardTextStyle
    text-align justify

.imgCard
    height 300px

.btnSite
    background-color #684e05
    border-color #684e05
    &:hover
        background-color #d9080099
        border-color #d9080099

dragOverClass="drop-over-active"