<section class="container">
  <section class="navigationBar">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/main/books">Home</a></li>        
        <li class="breadcrumb-item active" aria-current="page">Library</li>
      </ol>
    </nav>
  </section>
  
  <section id="canvas">
    <div class="card-deck">
      <div *ngFor="let book of booksList?.items">
        <div class="card mb-4 shadowStyle cardStyle">
          <div class="view overlay">
            <img class="card-img-top imgCard" [src]="book.volumeInfo.imageLinks?.smallThumbnail" alt="Book image">            
          </div>
          <div class="card-body">
            <h4 class="card-title">{{book.volumeInfo?.title}}</h4>
            <p class="card-text cardTextStyle">{{book.volumeInfo?.subtitle}}</p>                        
          </div>
        <div class="card-footer">
            <a [routerLink]="['../detail', book.id]" class="btn btn-primary">Ver Detalle</a>                         
          </div>
      </div>
    </div>
    </div>
  </section>
</section>