a
    outline none
    text-decoration none
    &:active
        color red

.navigationBar
    margin: 15px 15px 15px 15px;
    
.shadowStyle
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);

 imgContainer
    width 250px 

.imgStyle
    width 250px 

.cardTextStyle
    text-align justify

.italic
    font-style italic