/* You can add global styles to this file, and also import other style files */
body, html
    width 100%
    height 100%
    margin 0px
    font-family Arial

initial_loading
    width 100%
    height 100%

a
    outline none
    text-decoration none
    color black
    &:active
        color red
