/* You can add global styles to this file, and also import other style files */
body, html
    margin 0px
    font-family Arial
a
    outline none
    text-decoration none
    color black
    &:active
        color red
