<nav class="navLeftContainer">
  <ul class="list-unstyled nav-left">
      <li>
          <a routerLink="/main/books">
            <i class="fa fa-home col-xs-6 col-sm-6 col-md-1 col-lg-1" title="Inicio"></i>
            <span class = "col-xs-6 col-sm-6 col-md-1 col-lg-1">Inicio</span>
          </a>
      </li>
      <li >
        <a routerLink="/main/collections">
          <i class="fa fa-book col-xs-6 col-sm-6 col-md-1 col-lg-1" title="Colección"></i>
          <span class="col-xs-6 col-sm-6 col-md-1 col-lg-1">Colección</span>
        </a>
      </li>
      <li >
        <a routerLink="/main/favorites">
            <i class="fa fa-star col-xs-6 col-sm-6 col-md-1 col-lg-1" title="Favoritos"></i>                  
            <span class="col-xs-6 col-sm-6 col-md-1 col-lg-1">Favoritos</span>
        </a>
      </li>
      <li >
          <a (click)="logout()" routerLink="/login">
            <i class="fa fa-power-off col-xs-6 col-sm-6 col-md-1 col-lg-1" title="Salir"></i>
            <span class="col-xs-6 col-sm-6 col-md-1 col-lg-1">Salir</span>
          </a>
      </li>            
    </ul>      
</nav>