a
    outline none
    text-decoration none
    color black
    &:active
        color red

.nav-left
    margin 15px

.nav-left
    span
        margin-left 5px

:host-context(.aside-close)
    span
        display none