<nav class="navLeftContainer">
  <ul class="list-unstyled nav-left">
      <li>
          <a routerLink="/main/books">
            <i class="fa fa-home col-xs-6 col-sm-6 col-md-1 col-lg-1" title="Inicio"></i>
            <span class = "col-xs-6 col-sm-6 col-md-1 col-lg-1">Inicio</span>
          </a>
      </li>
      <li>
        <collection-list></collection-list>
      </li>
      <li >
        <a routerLink="/main/favorites">
            <i class="fa fa-heart col-xs-6 col-sm-6 col-md-1 col-lg-1" title="Favoritos"></i>                  
            <span class="col-xs-6 col-sm-6 col-md-1 col-lg-1">Favoritos</span>
        </a>
      </li>
      <li >
          <a class="" (click)="openModal($event, 'exit-modal')" href="">
            <i class="fa fa-power-off col-xs-6 col-sm-6 col-md-1 col-lg-1" title="Salir"></i>
            <span class="col-xs-6 col-sm-6 col-md-1 col-lg-1">Salir</span>            
          </a>
      </li>            
    </ul>      
</nav>
<modal id="exit-modal">
        <div class="modal">
            <div class="modal-body">
                <h3 class="title">Confirmación</h3>
                <p>¿Desea salir?</p>
                <button class="btn btn-primary btnPopup" (click)="closeModal('exit-modal', false);">No</button>
                <button class="btn btn-primary btnPopup" (click)="closeModal('exit-modal', true);">Sí</button>
            </div>      
        </div>  
        <div class="modal-background"></div>
</modal>